<h2><%= @user.username %></h2>
  <h4>You have &nbsp<%= @user.documents.count %> documents</h4>
  
  <div><%=link_to "Create document", new_document_path, class: 'btn btn-success' %></div>
  <br>
  <div><%=link_to "Add new category", new_category_path, class: 'btn btn-info' %></div>
  <br>

<table id="tableindex" class="table table-hover" >
  <thead>
    <tr>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by title"><button type="button" class="btn btn-default">Title</button></th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by category"><button type="button" class="btn btn-default">Category</button></th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by Document type"><button type="button" class="btn btn-default">Document type</button></th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by date"><button type="button" class="btn btn-default">Date</button></th>
    </tr>
  <thead>

  
  <tbody>
    <% @user.documents.each do |document| %>
    <tr>
      <td > <%= link_to document.title, document%></td>
      <td ><%= document.category.name %></td> 
      <td ><%= document.description %></td> 
      <td ><%= document.created_at.strftime "%Y-%m-%d " %></td>
     </tr>
   <% end %>
  <tbody>
</table>


