%script(src="epiceditor.min.js")
  var editor = new EpicEditor().load();

%h1= @document.description
%p= @document.title
%br
%div#epiceditor
  = @document.content 

%br
.btn-group
- if user_signed_in?
  = link_to "My Docs", current_user, class: "btn btn-default"
  = link_to 'Edit', edit_document_path, class: "btn btn-default"
  = link_to 'Delete', document_path(@document), method: :delete, data: {confirm: "are you sure"}, class: "btn btn-default"